*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
}

.form{
  background-color: #303030;
  color: white;
  padding: 20px;
  /* border-radius: 10px; */
}

.form input[type="radio"]{
  accent-color: yellow !important;
}
.form input[type="checkbox"]{
  accent-color: yellow !important;
}

/* .user_table{
  display: block;
  width: 100%;
  margin: 0 auto;
}

.user_table table{
  display: block;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: scroll;
}

.user_table ::-webkit-scrollbar{
  display:
} */

